@import url("http://fonts.googleapis.com/css?family=Roboto+mono");

:root {
  --black-color: #0f0f0f;
  --blue-color: #48e5c2;
  --yellow-color: #e8ff17;
  --cream-color: #f3d3bd;
  --grey-color: #f7f7f7;
}

body {
  font-family: "Roboto mono";
  color: var(--black-color);
  background-color: var(--grey-color);
}

h1 {
  font-weight: bolder;
  font-size: 10em;
}

.container-home {
  padding: 2vw;
}

.nav-border {
  border-top: 0.25em solid var(--black-color);
  border-bottom: 0.25em solid var(--black-color);
}

.border-full{
    border: 0.25em solid var(--black-color)
}

.border-round-full{
    border: 0.25em solid var(--black-color);
    border-radius: 2px;
}

.border-right {
  border-right: 0.25em solid var(--black-color);
}

.border-bott {
  border-bottom: 0.25em solid var(--black-color);
}

.compact {
  margin-left: 1em;
  justify-content: left;
}

.navbar-brand {
  margin-right: 2em;
}

.nav-underline {
  transition: 200ms;
  color: var(--black-color);
  padding: 0 0.2em;
  border-bottom: 0.1em solid var(--grey-color);
}

.nav-underline:hover {
  border-bottom: 0.1em solid var(--black-color);
}

.blue-cont {
  background-color: var(--blue-color);
  color: var(--black-color);
}

.blue-cont:hover {
  transition: 200ms;
  background-color: var(--white-color);
}

.cream-cont {
  background-color: var(--cream-color);
  color: var(--black-color);
}

.yellow-cont {
  background-color: var(--yellow-color);
  color: var(--black-color);
}

.card-cont{
    background-color: var(--black-color);
    color: var(--black-color);
    border-radius: 2em;
}

.blue-bg {
    background-color: var(--blue-color);
}

.grey-bg{
    background-color: var(--grey-color);
}

.direct-link:link {
  color: var(--black-color);
  text-decoration: none;
}

.direct-link:visited {
  color: var(--black-color);
  text-decoration: none;
}

.direct-link:hover {
  color: var(--black-color);
  background-color: var(--grey-color);
  text-decoration: none;
}

.direct-link:active {
  color: var(--black-color);
  text-decoration: none;
}

.download-bar{
    margin: 0em 1em;
    padding: .5em .5em;
    border-radius: 2em;
    border: .25em solid var(--black-color);
}

.input-bar{
    outline: none;
    background-color: var(--grey-color);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-width:0;
}